@model TechWeb.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="AdminProducts" asp-action="Index" class="breadcrumb-item">Quản lý sản phẩm</a>
            <span class="breadcrumb-item active">Thông tin sản phẩm</span>
        </nav>
    </div>
</div>
<div class="card">
    <h5 class="card-header">Thông Tin Sản Phẩm </h5>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered first">
                <tbody>
                    <tr>
                        <td>ID</td>
                        <td>@Model.ProductId</td>
                    </tr>
                    <tr>
                        <td>Tên sản phẩm </td>
                        <td>@Model.ProductName</td>
                    </tr>
                    <tr>
                        <td>Mô tả ngắn:</td>
                        <td>@Model.ShortDesc</td>
                    </tr>
                    <tr>
                        <td>Giá:</td>
                        <td>@Model.Price</td>
                    </tr>
                    <tr>
                        <td>Discount:</td>
                        <td>@Model.Discount</td>
                    </tr>
                    <tr>
                        <td>Trạng thái:</td>
                        <td>
                            @if (Model.Active)
                            {
                                <div class="switch-button switch-button-yesno m-r-10">
                                    <input type="checkbox" id="switch-1" checked="" disabled />
                                    <span>
                                        <label for="switch-1"></label>
                                    </span>
                                </div>
                            }
                            else
                            {
                                <div class="switch-button switch-button-yesno m-r-10">
                                    <input type="checkbox" id="switch-1" disabled />
                                    <span>
                                        <label for="switch-1"></label>
                                    </span>
                                </div>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Bestseller:</td>
                        <td>
                            @if (Model.BestSellers)
                            {
                                <div class="switch-button switch-button-yesno m-r-10">
                                    <input type="checkbox" id="switch-1" checked="" disabled />
                                    <span>
                                    <label for="switch-1"></label>
                                    </span>
                                </div>
                            }
                            else
                            {
                                <div class="switch-button switch-button-yesno m-r-10">
                                    <input type="checkbox" id="switch-1" disabled />
                                    <span>
                                        <label for="switch-1"></label>
                                    </span>
                                </div>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>HomeFlag:</td>
                        <td>
                            @if (Model.HomeFlag)
                            {
                                <div class="switch-button switch-button-yesno m-r-10">
                                    <input type="checkbox" id="switch-1" checked="" disabled />
                                    <span>
                                        <label for="switch-1"></label>
                                    </span>
                                </div>
                            }
                            else
                            {
                                <div class="switch-button switch-button-yesno m-r-10">
                                    <input type="checkbox" id="switch-1" disabled />
                                    <span>
                                        <label for="switch-1"></label>
                                    </span>
                                </div>
                            }

                        </td>
                    </tr>
                    <tr>
                        <td>Danh mục:</td>
                        <td>@Model.Cat.CatName</td>
                    </tr>

                    <tr>
                        <td>Ngày tạo:</td>
                        <td>@Model.DateCreated</td>
                    </tr>
                    <tr>
                        <td>Ngày chỉnh sửa</td>
                        <td>@Model.DateModified</td>
                    </tr>
                    <tr>
                        <td>Tiêu đề:</td>
                        <td>@Model.Title</td>
                    </tr>
                    <tr>
                        <td>MetaDesc:</td>
                        <td>@Model.MetaDesc</td>
                    </tr>
                    <tr>
                        <td>MetaKey:</td>
                        <td>@Model.MetaKey</td>
                    </tr>
                    <tr>
                        <td>Tags:</td>
                        <td>@Model.Tags</td>
                    </tr>
                    <tr>
                        <td>Ảnh đại diện:</td>
                        <td>
                            <img width="200" height="200" src="~/images/products/@Model.Thumb" alt="@Model.Title" />
                        </td>
                    </tr>
                    <tr>
                        <td>Mô tả sản phẩm:</td>
                        <td>@Html.Raw(Model.Description)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

