@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<TechWeb.Models.Customer>
@{
	int CurrentPage = ViewBag.CurrentPage;
	ViewData["Title"] = "Danh sách khách hàng" + CurrentPage;
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<h2 class="pageheader-title">Danh Sách Khách Hàng: trang @CurrentPage</h2>
<div class="card">
	<h5 class="card-header">Danh Sách</h5>
	<div class="card-body p-0">
		<div class="row m-b-30">
			<div class="col-lg-12 text-right">
				<div class="m-l-15 m-r-15">
					<a class="btn btn-rounded btn-primary" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Create">
						<i class=" fas fa-plus-circle m-r-10"></i><span>Thêm tài khoản khách hàng</span>
					</a>
					</div>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table">
					<thead class="bg-light">
						<tr class="border-0">
							<th class="border-0">ID</th>
							<th class="border-0">Họ Tên</th>
							<th class="border-0">Email</th>
							<th class="border-0">SĐT</th>
							<th class="border-0">Địa Chỉ</th>
							<th class="border-0">Trạng Thái</th>
							<th class="border-0">Thao Tác</th>
						</tr>
					</thead>
					<tbody>
						@if (Model != null)
						{
							foreach (var item in Model)
							{
								<tr>
									<td>@item.CustomerId</td>
									<td>@item.FullName</td>
									<td>@item.Email </td>
									<td>@item.Phone</td>
									<td>@item.Address</td>
									<td>
										@if (item.Active)
										{
											<div class="d-flex align-items-center">
												<div class="badge-dot badge-success  m-r-10"></div>
												<div>Hiệu Lực</div>
											</div>
										}
										else
										{
											<div class="d-flex align-items-center">
												<div class="badge-dot badge-danger  m-r-10"></div>
												<div>Vô Hiệu </div>
											</div>
										}
									</td>
									<td>
										<a class="btn btn-success" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Details" asp-route-id="@item.CustomerId">Chi tiết</a>
										<a class="btn btn-warning" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Edit" asp-route-id="@item.CustomerId">Sửa</a>
										<a class="btn btn-danger" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Delete" asp-route-id="@item.CustomerId">Xóa</a>
									</td>
								</tr>
							}
						}
					</tbody>
				</table>
				<div aria-label="Page navigation example">
					<ul class="pagination">
						<pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Index" />
					</ul>
				</div>
			</div>
		</div>
</div>
